# Operating System Trash
.DS_Store
Thumbs.db

# Code Editors' files and folders
.idea
*.sublime-project
*.sublime-workspace
_SpecRunner.html

# Folders to ignore
tmp
node_modules
bower_components
.grunt